<?xml version="1.0" ?>

<launch>

  <include file="$(find simulator_launch)/launch/basin.launch"/>

  <include file="$(find utilities)/launch/publish_map_from_img.launch"/>

  <include file="$(find pathplanning_launch)/launch/move_base.launch"/>

  <include file="$(find finite_state_machine)/launch/test_controller_sm.launch"/>


  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find combined_launch)/rviz/config_file_premade_map.rviz" />

</launch>
